{{ define "main" }}

<div class="row">
  <div class="col">
    <h1>Posts</h1>
    <ul class="list-unstyled">
      {{ range ( where .Site.RegularPages "Type" "blog") }}
      <li><small class="font-monospace text-secondary">{{ .Date.Format "2006-01-02" }}</small> <a
          href="{{ .Permalink }}">{{ .Title }}</a></li>
      {{end}}
    </ul>
  </div>
  <div class="col-3">
    <h1>Tags</h1>
    <p>
      {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
      <a href="/tags/{{ $name | urlize }}">#{{ $name }}</a>
      {{ end }}
    </p>
  </div>
</div>

{{ end }}