{{ define "main" }}

<div class="row">
  <div class="col-md-9 col-sm-12">
    <ul class="list-unstyled m-0">
      {{ range ( where .Site.RegularPages "Type" "blog") }}
      <li><small class="font-monospace text-secondary">{{ .Date.Format "2006-01-02" }}</small> <a
          href="{{ .Permalink }}">{{ .Title }}</a></li>
      {{end}}
    </ul>
  </div>
  <div class="col-md-3 col-sm-12">
    <p>
      {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
      <a href="/tags/{{ $name | urlize }}" class="text-secondary">#{{ $name }}</a>
      {{ end }}
    </p>
  </div>
</div>

{{ end }}